PORT=3000

TELEGRAM_BOT_TOKEN=123456789:replace_with_real_bot_token
TELEGRAM_CHANNEL_ID=-1001234567890
TELEGRAM_STREAM_LIMIT_MB=20
ALLOW_OVERSIZE_TELEGRAM_UPLOAD=false
STREAM_TOKEN_TTL_SECONDS=300
STREAM_TOKEN_MAX_USES=800
STREAM_TOKEN_REQUIRE_SAME_UA=true
STREAM_SESSION_TTL_SECONDS=86400
STREAM_SESSION_COOKIE_SECURE=false
STREAM_REQUIRE_FETCH_METADATA=true
ALLOW_LEGACY_GDRIVE_STREAM_ROUTE=false

ADMIN_TOKEN=ganti_dengan_token_admin_rahasia
GA4_ANALYTICS_ENABLED=false
GA4_MEASUREMENT_ID=G-XXXXXXXXXX

DATA_STORAGE_DRIVER=firebase
FIREBASE_RTDB_ENABLED=true
FIREBASE_DATABASE_URL=https://your-project-id-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_LIBRARY_PATH=teleminidrama/library
FIREBASE_YOUTUBE_VERIFICATIONS_PATH=teleminidrama/youtube_verifications
FIREBASE_ANALYTICS_PATH=teleminidrama/analytics

GOOGLE_DRIVE_AUTH_MODE=service_account
GOOGLE_DRIVE_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_DRIVE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_SUBJECT=
GOOGLE_DRIVE_OAUTH_CLIENT_ID=
GOOGLE_DRIVE_OAUTH_CLIENT_SECRET=
GOOGLE_DRIVE_OAUTH_REFRESH_TOKEN=
GOOGLE_DRIVE_OAUTH_REDIRECT_URI=http://localhost
GOOGLE_DRIVE_SCOPE=https://www.googleapis.com/auth/drive
GOOGLE_DRIVE_DEFAULT_FOLDER_ID=
GOOGLE_DRIVE_AUTO_DRAMA_SUBFOLDER=true
AUTO_SWITCH_TO_GDRIVE_ON_TELEGRAM_ERROR=true
AUTO_PERSIST_GDRIVE_SWITCH=true

YOUTUBE_SUBSCRIBE_GATE_ENABLED=true
YOUTUBE_SUBSCRIBE_MIN_EPISODE=10
YOUTUBE_REQUIRED_CHANNEL_ID=
YOUTUBE_REQUIRED_CHANNEL_URL=
YOUTUBE_OAUTH_CLIENT_ID=
YOUTUBE_OAUTH_CLIENT_SECRET=
YOUTUBE_OAUTH_REDIRECT_URI=auto
YOUTUBE_OAUTH_SCOPE=https://www.googleapis.com/auth/youtube.readonly
YOUTUBE_OAUTH_STATE_TTL_SECONDS=900
